body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    font-size: larger;
}

#center {
    text-align: center;
}

#game {
    border: 2px solid black;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

.title-container p {
    font-size: 40px;
    display: inline-block;
    justify-content: space-around;
    margin: 10px;
}

.title-container a {
    display: flex;
    align-items: center;
    gap: 5;
    justify-content: space-between;
    color: black;
    font-size: 45px;
    text-decoration: none;
    filter: invert(70%);
}

.title-container a img {
    width: 40px;
    height: 40px;

}

.title-container a:hover {
    filter: invert(0%);
}

.page-container {
    display: flex;
    justify-content: space-around;
}

.description {
    text-align: justify;
    margin: 25px;
    margin-right: 10;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
    height: fit-content;
}

#ui {
    position: absolute;
    top: 33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

#ui * {
    font-family: 'Courier New', monospace;
    color: white;
    font-size: 25px;
}

#ui .selection-title {
    display: inline-block;
    text-align: center;
}

#ui .selection-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#ui .roomlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#ui .room-list {
    display: flex;
    flex-direction: column;
    border-left: 2px solid white;
    width: 80%;
    max-height: 300px;
    height: 300px;
    overflow-y: scroll;
}

#ui ::-webkit-scrollbar {
    width: 10px;
}

#ui ::-webkit-scrollbar-track {
    background-color: #000000;
}

#ui ::-webkit-scrollbar-thumb {
    background: #ffffff;
}

#ui .room-entry {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    height: 65px;
}

#ui .room-entry p {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

#ui .room-entry:hover,
#ui .room-entry:hover>p,
#ui .room-entry:hover span {
    background-color: #d0d0d0;
    color: black;
}
#ui .room-entry.selected,
#ui .room-entry.selected>p,
#ui .room-entry.selected span {
    background-color: white;
    color: black;
}
#ui .room-entry.full,
#ui .room-entry.full>p,
#ui .room-entry.full span {
    color: #747474;
}


#ui .creation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

#ui button {
    background: black;
    color: white;
    border: 2px solid white;
    margin-top: 30px;
    font-size: 24px;
}

#ui button:hover {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#ui input {
    font-family: 'Courier New', monospace;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    font-size: 24px;
    text-align: center;
}

#ui .error-msg {
    color: red;
    font-size: small;
}

@media (max-width: 800px) {
    .page-container {
        flex-direction: column;
    }

    .game-container,
    #excalibur-play-root {
        display: none;
    }

    .phone-alert {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        color: white;
    }
}

@media (min-width: 801px) {
    .phone-alert {
        display: none;
    }
}