body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    font-size: larger;
}

#center {
    text-align: center;
}

#game {
    border: 2px solid black;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

.title-container p {
    font-size: 40px;
    display: inline-block;
    justify-content: space-around;
    margin: 10px;
}

.title-container a {
    display: flex;
    align-items: center;
    gap: 5;
    justify-content: space-between;
    color: black;
    font-size: 45px;
    text-decoration: none;
    filter: invert(70%);
}

.title-container a img {
    width: 40px;
    height: 40px;

}

.title-container a:hover {
    filter: invert(0%);
}

.page-container {
    display: flex;
    justify-content: space-between;
}

.description {
    text-align: justify;
    margin: 25px;
    margin-right: 10;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
    height: fit-content;
}

.game-container #ui {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ui.MainMenu .button.button--start {
    font-family: 'Courier New', monospace;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 40px;
    width: 70px;
    border: 2px solid white;
    margin-top: 30px;
    font-size: 24px;
}

#ui.MainMenu .button.button--start:hover {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.username-input {
    font-family: 'Courier New', monospace;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    font-size: 24px;
    text-align: center;
}

.error-msg {
    color: red;
    font-size: small;
}


/* Stili di base per dispositivi con larghezza schermo inferiore a 600px */
@media (max-width: 800px) {
    .page-container {
        flex-direction: column;
    }

    .game-container,#excalibur-play-root {
        display: none;
    }
    .phone-alert{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        color: white;
    }
}

@media (min-width: 801px) {
    .phone-alert{
        display: none;
    }
}
